.chatroom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  max-width: 600px;
  height: 100vh;
  background-color: var(--light-blue);
  box-shadow: 0 0 20px rgba(black, .5);
}