.message {
  margin-bottom: calc(var(--gutter) * 2);
  font-size: .8rem;
  &__author {
    margin-left: calc(var(--gutter) * 2);
    margin-bottom: var(--gutter);
  }
  &__content {
    position: relative;
    display: inline-block;
    background-color: white;
    padding: calc(var(--gutter) * 1.5);
    border-radius: 30px;
    min-width: 150px;
    color: var(--blue);
    &::before {
      border-color: transparent transparent #ffffff;
      border-style: solid;
      border-width: 0 0 20px 20px;
      content: "";
      display: block;
      height: 0;
      position: absolute;
      width: 0;
      top: -15px;
      left: 30px;
    }
  }
}